<% layout('/layouts/boilerplate.ejs')%>

    <h1>Edit Place</h1>

    <!--POST Place ID -->
    <form action="/places/<%=campground._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="campground[title]" value="<%=campground.title %>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="campground[location]" value="<%= campground.location%>">
        </div>
        <button>Update Place</button>
    </form>

    <!-- Back to added POST-->
    <a href="/places/<%= campground._id%>">Back To Place</a>