<% layout('/layouts/boilerplate.ejs')%>
    <h1>All Places</h1>
    <div>
        <a href="/places/new">Add Place</a>
    </div>
    <ul>

        <% for (let campground of campgrounds){%>
        <li><a href="/places/<%= campground._id %>"><%= campground.title %></a></li>
        <% }%>
    </ul>
